<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add/Edit Book</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Un livre</h1>
    <form th:action="@{/saveBook}" th:object="${book}" method="post" class="mb-4">
        <input type="hidden" th:field="*{id}" />
        <div class="form-group">
            <label for="isbn">Numero ISBN</label>
            <input type="text" id="isbn" th:field="*{isbn}" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="titre">Title</label>
            <input type="text" id="titre" th:field="*{titre}" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="authorId">Author</label>
            <select id="author" th:field="*{author.id}" class="form-control">
                <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.nom} + ' ' + ${author.prenom}"></option>
            </select>  
        </div>
        <button type="submit" class="btn btn-primary">Save Book</button>
    </form>
</div>
</body>
</html>
