fieldset {
    background-color: #fff;
    border: none;
    font-family: 'Verdana', sans-serif;
    padding: 20px;
}

legend {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    margin-left: 20px;
    font-family: 'Verdana', sans-serif;
}

input[type="number"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    margin-left: 15px;
    font-family: 'Verdana', sans-serif;
}
input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    margin-left: 15px;
    font-family: 'Tahoma', sans-serif;
}

input[type="submit"] {
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 15px;
    font-family: 'Helvetica Neue', sans-serif;
}
button {
    display: inline-block;
    background-color: #7b38d8;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 100px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 15px;
}
button:hover {
    background-color: green;
}
.container {
    padding: 2rem 0rem;
}

h4 {
    margin: 2rem 0rem 1rem;
}

.table-image td,
.table-image th {
    vertical-align: middle;

}